.navbar li {
    display: inline-block;
    padding: 5px 0;
    width: 33.3%;
    text-align: center;
}

.navbar {
    background: #ffa012;
    min-height: 70px;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: #fff;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap;
    height: 7rem;
    margin-top: 0;
}

ul.nav {
    margin-top: 0;
}

.header {
    background-image: url("../../assets/img/90sPattern.jpg");
    background-size: cover;
    color: white;
    min-height: 200px;
    padding: 180px 20px;
    padding-bottom: 140px;
    text-align: center;
}

.bg{
    background: black;
}
